In [62]:
import crepe
from scipy.io import wavfile
import numpy as np
import librosa
import pandas as pd

In [63]:
sampling_rate, scale = wavfile.read("./wav/eqt-major-sc.wav")

In [64]:
time, frequency, confidence, activation = crepe.predict(scale, sampling_rate, viterbi=True, step_size = 30)
a = np.column_stack((time, frequency, confidence))
filtered_arr = a[np.where(a[:, 2] > 0.80)]

7/7 [==============================] - 14s 2s/step

In [71]:
frequencies = a[:, 1]
start_times = a[:, 0]
frequencies

array([260.73777443, 262.66188551, 262.82224332, 262.11665989,
       261.6904201 , 261.65128949, 262.03816537, 262.11971844,
       261.68772067, 261.20976159, 260.70736982, 260.33309697,
       260.48328295, 261.36540601, 262.29520018, 262.69272536,
       262.10269604, 261.52348087, 261.26287362, 261.14254989,
       261.53512586, 261.84595658, 261.86362089, 261.58670075,
       261.74329589, 269.00172418, 292.44563581, 293.42481388,
       293.80775771, 294.03241083, 293.31089804, 292.95345534,
       293.30258694, 293.89770625, 294.29919048, 294.5456836 ,
       294.44448044, 294.26148669, 294.2579073 , 294.15101001,
       294.39888182, 294.67635933, 294.462572  , 294.05775079,
       294.28882721, 294.8207466 , 295.1717564 , 295.49394122,
       295.10221149, 294.65104726, 307.35783217, 330.20189436,
       330.63137607, 329.80811469, 329.36833316, 329.41843537,
       329.92546467, 329.70932194, 329.36956261, 328.96930966,
       328.64879925, 328.61963343, 328.55197171, 329.20941392,
       329.71904553, 329.76386132, 329.45523234, 328.50029204,
       327.78443871, 327.87604043, 328.28759721, 329.09800599,
       329.75057143, 330.35256679, 330.45578391, 338.16856996,
       349.97206504, 349.69616848, 349.02706295, 348.17270765,
       347.78601645, 348.5141209 , 349.22913672, 349.9338665 ,
       350.0447993 , 349.31321613, 348.56185604, 348.15183218,
       348.42168762, 349.13218793, 349.75414497, 349.38026689,
       349.00810803, 348.20063589, 348.13052595, 348.77524967,
       349.64381195, 350.02013351, 350.18457229, 350.02024632,
       355.1690144 , 392.95198451, 393.18540185, 392.25017311,
       391.25413852, 391.76070834, 392.86523962, 393.48265318,
       393.83778098, 393.53040648, 393.0936084 , 392.19653026,
       391.47307653, 391.8850485 , 393.15782014, 393.51933281,
       392.31219522, 391.64646298, 391.80089519, 392.51664083,
       393.231472  , 393.57354258, 393.64678205, 392.8880788 ,
       392.55890665, 411.74998995, 439.92717791, 440.53769124,
       440.50610225, 440.27660226, 439.36034566, 439.19991164,
       439.77812904, 440.5576907 , 440.18990641, 439.47788895,
       438.78824608, 438.75809092, 440.02556865, 441.72229074,
       442.08964814, 441.04459002, 440.08933813, 439.64147281,
       439.3667391 , 439.20961396, 439.56662083, 440.73302515,
       441.00713257, 439.98831391, 486.06659283, 494.21100468,
       493.75169452, 494.06755258, 495.07547121, 494.2771659 ,
       493.2632126 , 494.11110645, 494.95469966, 494.3932858 ,
       494.23580125, 493.93932208, 493.6960378 , 494.32056876,
       494.43047774, 494.35066097, 494.72305522, 494.42022932,
       493.71916756, 493.85004519, 493.4120595 , 493.55253544,
       494.15567226, 494.05493196, 494.70840435, 525.15799242,
       524.33557964, 525.24618669, 525.32505407, 525.2103372 ,
       524.21063196, 524.13456541, 524.7746315 , 525.52729058,
       526.07357478, 526.05911075, 525.25250645, 524.42047818,
       524.87149768, 525.94878792, 526.13952011, 525.70447646,
       524.78405641, 524.59749361, 524.97807758, 525.63434185,
       525.90139167, 524.96733155, 523.84825993, 524.14342361,
       527.13316297])

In [66]:
note_names = []
for freq in frequencies:
    note_names.append(librosa.hz_to_note(freq))
distinct_notes = sorted(set(note_names), key=note_names.index)

In [67]:
curr_note = 0
note_start_time = [0]
distinct_frequencies = [frequencies[0]]
j = 0
while j < len(frequencies):
    note = librosa.hz_to_note(frequencies[j])
    if note == distinct_notes[curr_note]:
        j += 1
    else:
        distinct_frequencies.append(frequencies[j])
        note_start_time.append(start_times[j])
        curr_note += 1

In [68]:
note_lengths = []
for i in range(1, len(note_start_time)):
    note_lengths.append(note_start_time[i] - note_start_time[i-1])
note_lengths.append(start_times[-1] - note_start_time[-1])

In [69]:
df = pd.DataFrame({'Note Duration': note_lengths, 'Note Name': distinct_notes,
                   'Note Frequency': distinct_frequencies, 'Note Start Time': note_start_time})

In [70]:
df

   Note Duration Note Name  Note Frequency  Note Start Time
0           0.78        C4      260.737774             0.00
1           0.72        D4      292.445636             0.78
2           0.03       D♯4      307.357832             1.50
3           0.75        E4      330.201894             1.53
4           0.75        F4      349.972065             2.28
5           0.72        G4      392.951985             3.03
6           0.03       G♯4      411.749990             3.75
7           0.72        A4      439.927178             3.78
8           0.75        B4      486.066593             4.50
9           0.75        C5      525.157992             5.25